In [19]:
import pandas as pd
df=pd.read_excel("Manufacturing, value added (% of GDP).xls")
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-06-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.00000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
3,Aruba,ABW,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.262544,3.439091,3.585011,3.688822,3.734056,3.225015,2.562437,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,13.331127,...,9.949764,9.756189,9.983889,9.986426,9.827055,10.879754,10.771147,10.332088,10.254191,10.121744
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.512170,13.471065,13.264168,13.055253,12.784844,13.127486,12.862697,13.352069,12.891532,13.557451
265,"Yemen, Rep.",YEM,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,19.93919,20.546282,20.699001,21.449761,22.060890,22.849491,...,12.366776,12.480711,12.517944,12.483644,12.512705,12.491946,12.399077,11.662416,11.785289,12.044102
267,Zambia,ZMB,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,3.76678,4.883053,4.822754,5.485987,5.684139,6.332454,...,6.023735,6.819983,7.522311,7.686125,8.127238,6.847766,6.788930,7.715370,9.423861,8.079457
268,Zimbabwe,ZWE,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,15.951402,...,12.919057,12.590765,11.888599,11.596020,11.017009,13.678137,14.222360,15.696566,12.442934,NaN

In [20]:
index_list = list(range(0,2))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.00000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
3,Aruba,ABW,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,3.262544,3.439091,3.585011,3.688822,3.734056,3.225015,2.562437,NaN,NaN,NaN
4,Africa Eastern and Southern,AFE,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,13.331127,...,9.949764,9.756189,9.983889,9.986426,9.827055,10.879754,10.771147,10.332088,10.254191,10.121744
5,Afghanistan,AFG,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,11.499867,11.477588,11.420006,4.114197,3.530422,6.160177,7.043181,7.676257,9.060748,NaN
6,Africa Western and Central,AFW,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.905297,10.332855,10.086720,9.852352,9.941946,10.407540,11.346214,12.016790,13.228735,12.688356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.512170,13.471065,13.264168,13.055253,12.784844,13.127486,12.862697,13.352069,12.891532,13.557451
265,"Yemen, Rep.",YEM,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,19.93919,20.546282,20.699001,21.449761,22.060890,22.849491,...,12.366776,12.480711,12.517944,12.483644,12.512705,12.491946,12.399077,11.662416,11.785289,12.044102
267,Zambia,ZMB,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,3.76678,4.883053,4.822754,5.485987,5.684139,6.332454,...,6.023735,6.819983,7.522311,7.686125,8.127238,6.847766,6.788930,7.715370,9.423861,8.079457
268,Zimbabwe,ZWE,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,15.951402,...,12.919057,12.590765,11.888599,11.596020,11.017009,13.678137,14.222360,15.696566,12.442934,NaN

In [21]:
index_list = list(range(1,14))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.00000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
17,Austria,AUT,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,16.495729,16.560015,16.690036,17.047415,16.842708,16.828752,16.591013,16.411863,16.545850,15.553015
18,Azerbaijan,AZE,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,4.215737,4.707011,4.990622,4.892661,4.699465,4.619812,5.003651,6.101565,6.419093,5.005836
19,Burundi,BDI,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.545820,10.124210,8.676554,9.361716,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.512170,13.471065,13.264168,13.055253,12.784844,13.127486,12.862697,13.352069,12.891532,13.557451
265,"Yemen, Rep.",YEM,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,19.93919,20.546282,20.699001,21.449761,22.060890,22.849491,...,12.366776,12.480711,12.517944,12.483644,12.512705,12.491946,12.399077,11.662416,11.785289,12.044102
267,Zambia,ZMB,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,3.76678,4.883053,4.822754,5.485987,5.684139,6.332454,...,6.023735,6.819983,7.522311,7.686125,8.127238,6.847766,6.788930,7.715370,9.423861,8.079457
268,Zimbabwe,ZWE,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,15.951402,...,12.919057,12.590765,11.888599,11.596020,11.017009,13.678137,14.222360,15.696566,12.442934,NaN

In [22]:
index_list = list(range(2,69))
df.drop(df.index[index_list],inplace=True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.00000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
84,United Kingdom,GBR,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.536968,9.348694,9.219531,9.017880,8.975073,8.828734,8.707091,8.718407,8.694036,8.445520
85,Georgia,GEO,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.511735,9.605770,8.864594,7.790211,8.597062,8.834424,8.868101,9.345306,9.868780,9.678413
86,Ghana,GHA,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,9.754434,...,11.588547,11.019949,11.098300,10.820425,10.152223,10.120133,10.161219,10.953056,10.700151,10.176658
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.512170,13.471065,13.264168,13.055253,12.784844,13.127486,12.862697,13.352069,12.891532,13.557451
265,"Yemen, Rep.",YEM,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,19.93919,20.546282,20.699001,21.449761,22.060890,22.849491,...,12.366776,12.480711,12.517944,12.483644,12.512705,12.491946,12.399077,11.662416,11.785289,12.044102
267,Zambia,ZMB,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,3.76678,4.883053,4.822754,5.485987,5.684139,6.332454,...,6.023735,6.819983,7.522311,7.686125,8.127238,6.847766,6.788930,7.715370,9.423861,8.079457
268,Zimbabwe,ZWE,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,15.951402,...,12.919057,12.590765,11.888599,11.596020,11.017009,13.678137,14.222360,15.696566,12.442934,NaN

In [23]:
index_list = list(range(3,99))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.00000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
84,United Kingdom,GBR,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.536968,9.348694,9.219531,9.017880,8.975073,8.828734,8.707091,8.718407,8.694036,8.445520
181,Nepal,NPL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,3.284541,...,5.750414,5.612191,5.356056,4.888190,4.855674,4.906475,4.981441,4.474854,4.766038,4.858898
182,Nauru,NRU,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.512170,13.471065,13.264168,13.055253,12.784844,13.127486,12.862697,13.352069,12.891532,13.557451
265,"Yemen, Rep.",YEM,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,19.93919,20.546282,20.699001,21.449761,22.060890,22.849491,...,12.366776,12.480711,12.517944,12.483644,12.512705,12.491946,12.399077,11.662416,11.785289,12.044102
267,Zambia,ZMB,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,3.76678,4.883053,4.822754,5.485987,5.684139,6.332454,...,6.023735,6.819983,7.522311,7.686125,8.127238,6.847766,6.788930,7.715370,9.423861,8.079457
268,Zimbabwe,ZWE,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,15.951402,...,12.919057,12.590765,11.888599,11.596020,11.017009,13.678137,14.222360,15.696566,12.442934,NaN

In [24]:
index_list = list(range(4,12))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.00000,1961.000000,1962.000000,1963.000000,1964.000000,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
84,United Kingdom,GBR,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.536968,9.348694,9.219531,9.017880,8.975073,8.828734,8.707091,8.718407,8.694036,8.445520
181,Nepal,NPL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,3.284541,...,5.750414,5.612191,5.356056,4.888190,4.855674,4.906475,4.981441,4.474854,4.766038,4.858898
190,Philippines,PHL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.434499,20.575084,19.928022,19.590303,19.500202,19.098247,18.516454,17.658179,17.640086,17.239444
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,13.512170,13.471065,13.264168,13.055253,12.784844,13.127486,12.862697,13.352069,12.891532,13.557451
265,"Yemen, Rep.",YEM,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,South Africa,ZAF,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,19.93919,20.546282,20.699001,21.449761,22.060890,22.849491,...,12.366776,12.480711,12.517944,12.483644,12.512705,12.491946,12.399077,11.662416,11.785289,12.044102
267,Zambia,ZMB,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,3.76678,4.883053,4.822754,5.485987,5.684139,6.332454,...,6.023735,6.819983,7.522311,7.686125,8.127238,6.847766,6.788930,7.715370,9.423861,8.079457
268,Zimbabwe,ZWE,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,15.951402,...,12.919057,12.590765,11.888599,11.596020,11.017009,13.678137,14.222360,15.696566,12.442934,NaN

In [25]:
index_list = list(range(5,83))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
84,United Kingdom,GBR,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.536968,9.348694,9.219531,9.017880,8.975073,8.828734,8.707091,8.718407,8.694036,8.445520
181,Nepal,NPL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,3.284541,...,5.750414,5.612191,5.356056,4.888190,4.855674,4.906475,4.981441,4.474854,4.766038,4.858898
190,Philippines,PHL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.434499,20.575084,19.928022,19.590303,19.500202,19.098247,18.516454,17.658179,17.640086,17.239444

In [26]:
header_row = 0
df.columns = df.iloc[header_row]
df

2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.000000,...,2013.000000,2014.000000,2015.000000,2016.000000,2017.000000,2018.000000,2019.000000,2020.000000,2021.000000,2022.000000
16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
84,United Kingdom,GBR,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.536968,9.348694,9.219531,9.017880,8.975073,8.828734,8.707091,8.718407,8.694036,8.445520
181,Nepal,NPL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,3.284541,...,5.750414,5.612191,5.356056,4.888190,4.855674,4.906475,4.981441,4.474854,4.766038,4.858898
190,Philippines,PHL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.434499,20.575084,19.928022,19.590303,19.500202,19.098247,18.516454,17.658179,17.640086,17.239444

In [27]:
df.drop([2],inplace=True)
df

2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
84,United Kingdom,GBR,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,9.536968,9.348694,9.219531,9.017880,8.975073,8.828734,8.707091,8.718407,8.694036,8.445520
181,Nepal,NPL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,3.284541,...,5.750414,5.612191,5.356056,4.888190,4.855674,4.906475,4.981441,4.474854,4.766038,4.858898
190,Philippines,PHL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,20.434499,20.575084,19.928022,19.590303,19.500202,19.098247,18.516454,17.658179,17.640086,17.239444

In [28]:
df=df.reset_index()
df

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,...,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
1,84,United Kingdom,GBR,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,...,9.536968,9.348694,9.219531,9.017880,8.975073,8.828734,8.707091,8.718407,8.694036,8.445520
2,181,Nepal,NPL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,...,5.750414,5.612191,5.356056,4.888190,4.855674,4.906475,4.981441,4.474854,4.766038,4.858898
3,190,Philippines,PHL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,NaN,NaN,NaN,NaN,NaN,...,20.434499,20.575084,19.928022,19.590303,19.500202,19.098247,18.516454,17.658179,17.640086,17.239444

In [29]:
df.fillna(0,inplace=True)
df

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,0.0,0.0,0.0,0.0,0.0,...,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
1,84,United Kingdom,GBR,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,0.0,0.0,0.0,0.0,0.0,...,9.536968,9.348694,9.219531,9.017880,8.975073,8.828734,8.707091,8.718407,8.694036,8.445520
2,181,Nepal,NPL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,0.0,0.0,0.0,0.0,0.0,...,5.750414,5.612191,5.356056,4.888190,4.855674,4.906475,4.981441,4.474854,4.766038,4.858898
3,190,Philippines,PHL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,0.0,0.0,0.0,0.0,0.0,...,20.434499,20.575084,19.928022,19.590303,19.500202,19.098247,18.516454,17.658179,17.640086,17.239444

In [39]:
 df.columns.values

array(['index', 'Country Name', 'Country Code', 'Indicator Name',
       'Indicator Code', 1960.0, 1961.0, 1962.0, 1963.0, 1964.0, 1965.0,
       1966.0, 1967.0, 1968.0, 1969.0, 1970.0, 1971.0, 1972.0, 1973.0,
       1974.0, 1975.0, 1976.0, 1977.0, 1978.0, 1979.0, 1980.0, 1981.0,
       1982.0, 1983.0, 1984.0, 1985.0, 1986.0, 1987.0, 1988.0, 1989.0,
       1990.0, 1991.0, 1992.0, 1993.0, 1994.0, 1995.0, 1996.0, 1997.0,
       1998.0, 1999.0, 2000.0, 2001.0, 2002.0, 2003.0, 2004.0, 2005.0,
       2006.0, 2007.0, 2008.0, 2009.0, 2010.0, 2011.0, 2012.0, 2013.0,
       2014.0, 2015.0, 2016.0, 2017.0, 2018.0, 2019.0, 2020.0, 2021.0,
       2022.0], dtype=object)

In [58]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    display(df)

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,1978.0,1979.0,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,13.788460,12.566331,12.577931,12.872466,13.204721,13.115455,12.735193,12.295285,12.462578,11.943745,11.562311,10.984926,10.548996,10.859555,10.879206,10.330881,9.887236,9.285444,9.197704,8.448132,7.989773,7.365819,7.048573,6.608014,6.368334,6.299432,6.086075,5.800283,5.778138,5.605069,5.626857,5.548834,5.421405
1,84,United Kingdom,GBR,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,16.466983,16.067803,15.852528,15.492745,16.205989,15.298033,15.094408,14.902637,14.350772,13.741129,13.247871,12.408814,12.079999,11.542977,10.933566,10.505036,10.042048,9.652851,9.581454,9.030712,9.513322,9.325801,9.289936,9.536968,9.348694,9.219531,9.017880,8.975073,8.828734,8.707091,8.718407,8.694036,8.445520
2,181,Nepal,NPL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,0.0,0.0,0.0,0.0,0.0,3.284541,3.430308,3.413874,3.568939,3.844709,3.68385,3.75923,3.94445,4.002407,4.106808,4.007,3.966885,4.259259,4.02392,3.817241,4.008394,3.841506,4.011231,4.324645,4.610307,5.390031,5.8377,5.856194,6.000832,5.440859,5.759264,6.376362,8.396065,8.320716,8.963126,8.922094,9.025643,8.846649,8.970400,8.869534,8.840859,8.699295,8.213424,7.887760,7.763964,7.615217,7.314045,7.168187,7.010904,6.622367,5.946139,5.396920,5.785223,5.750414,5.612191,5.356056,4.888190,4.855674,4.906475,4.981441,4.474854,4.766038,4.858898
3,190,Philippines,PHL,"Manufacturing, value added (% of GDP)",NV.IND.MANF.ZS,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000,0.000000,0.000000,0.000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,25.279565,25.311546,25.135409,24.836873,24.011998,24.269901,23.829185,23.150912,23.268668,21.738614,21.919202,21.704327,21.328571,20.434499,20.575084,19.928022,19.590303,19.500202,19.098247,18.516454,17.658179,17.640086,17.239444