In [21]:
import pandas as pd
df=pd.read_excel("Population, total.xls")
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
0,Last Updated Date,2023-06-29 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
4,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
265,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
266,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
267,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
268,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 269 entries, 0 to 268
Data columns (total 67 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Data Source                   268 non-null    object
 1   World Development Indicators  268 non-null    object
 2   Unnamed: 2                    267 non-null    object
 3   Unnamed: 3                    267 non-null    object
 4   Unnamed: 4                    265 non-null    float64
 5   Unnamed: 5                    265 non-null    float64
 6   Unnamed: 6                    265 non-null    float64
 7   Unnamed: 7                    265 non-null    float64
 8   Unnamed: 8                    265 non-null    float64
 9   Unnamed: 9                    265 non-null    float64
 10  Unnamed: 10                   265 non-null    float64
 11  Unnamed: 11                   265 non-null    float64
 12  Unnamed: 12                   265 non-null    float64
 13  Unnamed: 13                   265 non-null    float64
 14  Unnamed: 14                   265 non-null    float64
 15  Unnamed: 15                   265 non-null    float64
 16  Unnamed: 16                   265 non-null    float64
 17  Unnamed: 17                   265 non-null    float64
 18  Unnamed: 18                   265 non-null    float64
 19  Unnamed: 19                   265 non-null    float64
 20  Unnamed: 20                   265 non-null    float64
 21  Unnamed: 21                   265 non-null    float64
 22  Unnamed: 22                   265 non-null    float64
 23  Unnamed: 23                   265 non-null    float64
 24  Unnamed: 24                   265 non-null    float64
 25  Unnamed: 25                   265 non-null    float64
 26  Unnamed: 26                   265 non-null    float64
 27  Unnamed: 27                   265 non-null    float64
 28  Unnamed: 28                   265 non-null    float64
 29  Unnamed: 29                   265 non-null    float64
 30  Unnamed: 30                   265 non-null    float64
 31  Unnamed: 31                   265 non-null    float64
 32  Unnamed: 32                   265 non-null    float64
 33  Unnamed: 33                   265 non-null    float64
 34  Unnamed: 34                   266 non-null    float64
 35  Unnamed: 35                   266 non-null    float64
 36  Unnamed: 36                   266 non-null    float64
 37  Unnamed: 37                   266 non-null    float64
 38  Unnamed: 38                   266 non-null    float64
 39  Unnamed: 39                   266 non-null    float64
 40  Unnamed: 40                   266 non-null    float64
 41  Unnamed: 41                   266 non-null    float64
 42  Unnamed: 42                   266 non-null    float64
 43  Unnamed: 43                   266 non-null    float64
 44  Unnamed: 44                   266 non-null    float64
 45  Unnamed: 45                   266 non-null    float64
 46  Unnamed: 46                   266 non-null    float64
 47  Unnamed: 47                   266 non-null    float64
 48  Unnamed: 48                   266 non-null    float64
 49  Unnamed: 49                   266 non-null    float64
 50  Unnamed: 50                   266 non-null    float64
 51  Unnamed: 51                   266 non-null    float64
 52  Unnamed: 52                   266 non-null    float64
 53  Unnamed: 53                   266 non-null    float64
 54  Unnamed: 54                   266 non-null    float64
 55  Unnamed: 55                   266 non-null    float64
 56  Unnamed: 56                   266 non-null    float64
 57  Unnamed: 57                   266 non-null    float64
 58  Unnamed: 58                   266 non-null    float64
 59  Unnamed: 59                   266 non-null    float64
 60  Unnamed: 60                   266 non-null    float64
 61  Unnamed: 61                   266 non-null    float64
 62  Unnamed: 62                   266 non-null    float64
 63  Unnamed: 63                   266 non-null    float64
 64  Unnamed: 64                   266 non-null    float64
 65  Unnamed: 65                   266 non-null    float64
 66  Unnamed: 66                   266 non-null    float64
dtypes: float64(63), object(4)
memory usage: 140.9+ KB

In [7]:
df.isna().sum()

Data Source                     1
World Development Indicators    1
Unnamed: 2                      2
Unnamed: 3                      2
Unnamed: 4                      4
                               ..
Unnamed: 62                     3
Unnamed: 63                     3
Unnamed: 64                     3
Unnamed: 65                     3
Unnamed: 66                     3
Length: 67, dtype: int64

In [8]:
index_list = list(range(0,2))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
3,Aruba,ABW,"Population, total",SP.POP.TOTL,54608.0,55811.0,56682.0,57475.0,58178.0,58782.0,...,102880.0,103594.0,104257.0,104874.0,105439.0,105962.0,106442.0,106585.0,106537.0,106445.0
4,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,130692579.0,134169237.0,137835590.0,141630546.0,145605995.0,149742351.0,...,567892149.0,583651101.0,600008424.0,616377605.0,632746570.0,649757148.0,667242986.0,685112979.0,702977106.0,720839314.0
5,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8622466.0,8790140.0,8969047.0,9157465.0,9355514.0,9565147.0,...,31541209.0,32716210.0,33753499.0,34636207.0,35643418.0,36686784.0,37769499.0,38972230.0,40099462.0,41128771.0
6,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,97256290.0,99314028.0,101445032.0,103667517.0,105959979.0,108336203.0,...,387204553.0,397855507.0,408690375.0,419778384.0,431138704.0,442646825.0,454306063.0,466189102.0,478185907.0,490330870.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
265,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
266,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
267,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
268,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0

In [9]:
index_list = list(range(1,14))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,...,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0,25978935.0
17,Austria,AUT,"Population, total",SP.POP.TOTL,7047539.0,7086299.0,7129864.0,7175811.0,7223801.0,7270889.0,...,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,8840521.0,8879920.0,8916864.0,8955797.0,9042528.0
18,Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3894500.0,4045750.0,4168150.0,4293550.0,4439250.0,4574650.0,...,9416801.0,9535079.0,9649341.0,9757812.0,9854033.0,9939771.0,10024283.0,10093121.0,10137750.0,10175016.0
19,Burundi,BDI,"Population, total",SP.POP.TOTL,2746628.0,2815972.0,2887398.0,2948133.0,3033221.0,3118134.0,...,10149577.0,10494913.0,10727148.0,10903327.0,11155593.0,11493472.0,11874838.0,12220227.0,12551213.0,12889576.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
265,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
266,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
267,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
268,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0

In [10]:
index_list = list(range(2,69))
df.drop(df.index[index_list],inplace=True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,...,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0,25978935.0
84,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,...,64128273.0,64602298.0,65116219.0,65611593.0,66058859.0,66460344.0,66836327.0,67081234.0,67026300.0,66971411.0
85,Georgia,GEO,"Population, total",SP.POP.TOTL,3645600.0,3703600.0,3760300.0,3816100.0,3870300.0,3921600.0,...,3717668.0,3719414.0,3725276.0,3727505.0,3728004.0,3726549.0,3720161.0,3722716.0,3708610.0,3712502.0
86,Ghana,GHA,"Population, total",SP.POP.TOTL,6911510.0,7109029.0,7281192.0,7458243.0,7640196.0,7827726.0,...,27525597.0,28196358.0,28870939.0,29554303.0,30222262.0,30870641.0,31522290.0,32180401.0,32833031.0,33475870.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
265,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
266,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
267,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
268,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0

In [11]:
index_list = list(range(3,99))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,...,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0,25978935.0
84,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,...,64128273.0,64602298.0,65116219.0,65611593.0,66058859.0,66460344.0,66836327.0,67081234.0,67026300.0,66971411.0
181,Nepal,NPL,"Population, total",SP.POP.TOTL,10167941.0,10365144.0,10570716.0,10782717.0,11002819.0,11232951.0,...,27381555.0,27462106.0,27610325.0,27861186.0,28183426.0,28506712.0,28832496.0,29348627.0,30034989.0,30547580.0
182,Nauru,NRU,"Population, total",SP.POP.TOTL,4582.0,4753.0,4950.0,5198.0,5484.0,5804.0,...,10694.0,10940.0,11185.0,11437.0,11682.0,11924.0,12132.0,12315.0,12511.0,12668.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
265,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
266,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
267,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
268,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0

In [12]:
index_list = list(range(4,12))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,...,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0,25978935.0
84,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,...,64128273.0,64602298.0,65116219.0,65611593.0,66058859.0,66460344.0,66836327.0,67081234.0,67026300.0,66971411.0
181,Nepal,NPL,"Population, total",SP.POP.TOTL,10167941.0,10365144.0,10570716.0,10782717.0,11002819.0,11232951.0,...,27381555.0,27462106.0,27610325.0,27861186.0,28183426.0,28506712.0,28832496.0,29348627.0,30034989.0,30547580.0
190,Philippines,PHL,"Population, total",SP.POP.TOTL,28486871.0,29342411.0,30185979.0,31043711.0,31916622.0,32805538.0,...,99700107.0,101325201.0,103031365.0,104875266.0,106738501.0,108568836.0,110380804.0,112190977.0,113880328.0,115559009.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
264,Kosovo,XKX,"Population, total",SP.POP.TOTL,947000.0,966000.0,994000.0,1022000.0,1050000.0,1078000.0,...,1818117.0,1812771.0,1788196.0,1777557.0,1791003.0,1797085.0,1788878.0,1790133.0,1786038.0,1761985.0
265,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,5542459.0,5646668.0,5753386.0,5860197.0,5973803.0,6097298.0,...,26984002.0,27753304.0,28516545.0,29274002.0,30034389.0,30790513.0,31546691.0,32284046.0,32981641.0,33696614.0
266,South Africa,ZAF,"Population, total",SP.POP.TOTL,16520441.0,16989464.0,17503133.0,18042215.0,18603097.0,19187194.0,...,53873616.0,54729551.0,55876504.0,56422274.0,56641209.0,57339635.0,58087055.0,58801927.0,59392255.0,59893885.0
267,Zambia,ZMB,"Population, total",SP.POP.TOTL,3119430.0,3219451.0,3323427.0,3431381.0,3542764.0,3658024.0,...,15234976.0,15737793.0,16248230.0,16767761.0,17298054.0,17835893.0,18380477.0,18927715.0,19473125.0,20017675.0
268,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,3806310.0,3925952.0,4049778.0,4177931.0,4310332.0,4447149.0,...,13555422.0,13855753.0,14154937.0,14452704.0,14751101.0,15052184.0,15354608.0,15669666.0,15993524.0,16320537.0

In [13]:
index_list = list(range(5,83))
df.drop(df.index[index_list], inplace =True)
df

,Data Source,World Development Indicators,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,...,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0,25978935.0
84,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,...,64128273.0,64602298.0,65116219.0,65611593.0,66058859.0,66460344.0,66836327.0,67081234.0,67026300.0,66971411.0
181,Nepal,NPL,"Population, total",SP.POP.TOTL,10167941.0,10365144.0,10570716.0,10782717.0,11002819.0,11232951.0,...,27381555.0,27462106.0,27610325.0,27861186.0,28183426.0,28506712.0,28832496.0,29348627.0,30034989.0,30547580.0
190,Philippines,PHL,"Population, total",SP.POP.TOTL,28486871.0,29342411.0,30185979.0,31043711.0,31916622.0,32805538.0,...,99700107.0,101325201.0,103031365.0,104875266.0,106738501.0,108568836.0,110380804.0,112190977.0,113880328.0,115559009.0

In [14]:
header_row = 0
df.columns = df.iloc[header_row]
df

2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,...,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0,25978935.0
84,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,...,64128273.0,64602298.0,65116219.0,65611593.0,66058859.0,66460344.0,66836327.0,67081234.0,67026300.0,66971411.0
181,Nepal,NPL,"Population, total",SP.POP.TOTL,10167941.0,10365144.0,10570716.0,10782717.0,11002819.0,11232951.0,...,27381555.0,27462106.0,27610325.0,27861186.0,28183426.0,28506712.0,28832496.0,29348627.0,30034989.0,30547580.0
190,Philippines,PHL,"Population, total",SP.POP.TOTL,28486871.0,29342411.0,30185979.0,31043711.0,31916622.0,32805538.0,...,99700107.0,101325201.0,103031365.0,104875266.0,106738501.0,108568836.0,110380804.0,112190977.0,113880328.0,115559009.0

In [15]:
df.drop([2],inplace=True)
df

2,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
16,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,...,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0,25978935.0
84,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,...,64128273.0,64602298.0,65116219.0,65611593.0,66058859.0,66460344.0,66836327.0,67081234.0,67026300.0,66971411.0
181,Nepal,NPL,"Population, total",SP.POP.TOTL,10167941.0,10365144.0,10570716.0,10782717.0,11002819.0,11232951.0,...,27381555.0,27462106.0,27610325.0,27861186.0,28183426.0,28506712.0,28832496.0,29348627.0,30034989.0,30547580.0
190,Philippines,PHL,"Population, total",SP.POP.TOTL,28486871.0,29342411.0,30185979.0,31043711.0,31916622.0,32805538.0,...,99700107.0,101325201.0,103031365.0,104875266.0,106738501.0,108568836.0,110380804.0,112190977.0,113880328.0,115559009.0

In [16]:
df=df.reset_index()
df

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,...,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0,25978935.0
1,84,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,...,64128273.0,64602298.0,65116219.0,65611593.0,66058859.0,66460344.0,66836327.0,67081234.0,67026300.0,66971411.0
2,181,Nepal,NPL,"Population, total",SP.POP.TOTL,10167941.0,10365144.0,10570716.0,10782717.0,11002819.0,...,27381555.0,27462106.0,27610325.0,27861186.0,28183426.0,28506712.0,28832496.0,29348627.0,30034989.0,30547580.0
3,190,Philippines,PHL,"Population, total",SP.POP.TOTL,28486871.0,29342411.0,30185979.0,31043711.0,31916622.0,...,99700107.0,101325201.0,103031365.0,104875266.0,106738501.0,108568836.0,110380804.0,112190977.0,113880328.0,115559009.0

In [17]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):  
    display(df)

2,index,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,1978.0,1979.0,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
0,16,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,11651000.0,11799000.0,12009000.0,12263000.0,12507000.0,12937000.0,13177000.0,13380000.0,13723000.0,13893000.0,14033000.0,14192000.0,14358000.0,14514000.0,14692000.0,14923260.0,15184247.0,15393472.0,15579391.0,15788312.0,16018350.0,16263874.0,16532164.0,16814416.0,17065128.0,17284036.0,17478635.0,17634808.0,17805468.0,18004882.0,18224767.0,18423037.0,18607584.0,18812264.0,19028802.0,19274701.0,19495210.0,19720737.0,19932722.0,20176844.0,20450966.0,20827622.0,21249199.0,21691653.0,22031750.0,22340024.0,22733465.0,23128129.0,23475686.0,23815995.0,24190907.0,24594202.0,24966643.0,25340217.0,25655289.0,25688079.0,25978935.0
1,84,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,54648500.0,54943600.0,55211700.0,55441750.0,55663250.0,55896223.0,56086065.0,56194527.0,56229974.0,56225800.0,56211968.0,56193492.0,56196504.0,56246951.0,56314216.0,56333829.0,56313641.0,56332848.0,56422072.0,56550268.0,56681396.0,56802050.0,56928327.0,57076711.0,57247586.0,57424897.0,57580402.0,57718614.0,57865745.0,58019030.0,58166950.0,58316954.0,58487141.0,58682466.0,58892514.0,59119673.0,59370479.0,59647577.0,59987905.0,60401206.0,60846820.0,61322463.0,61806995.0,62276270.0,62766365.0,63258810.0,63700215.0,64128273.0,64602298.0,65116219.0,65611593.0,66058859.0,66460344.0,66836327.0,67081234.0,67026300.0,66971411.0
2,181,Nepal,NPL,"Population, total",SP.POP.TOTL,10167941.0,10365144.0,10570716.0,10782717.0,11002819.0,11232951.0,11470199.0,11715579.0,11970411.0,12231874.0,12501285.0,12774870.0,13052220.0,13335963.0,13626301.0,13925541.0,14230738.0,14550430.0,14888770.0,15238564.0,15600442.0,15969792.0,16347124.0,16740664.0,17141610.0,17540571.0,17936926.0,18326204.0,18720745.0,19145077.0,19616530.0,20130779.0,20702133.0,21267359.0,21794751.0,22305571.0,22783969.0,23249417.0,23703328.0,24143157.0,24559500.0,24956071.0,25332178.0,25682908.0,26003965.0,26285110.0,26518971.0,26713655.0,26881544.0,27026941.0,27161567.0,27266399.0,27330694.0,27381555.0,27462106.0,27610325.0,27861186.0,28183426.0,28506712.0,28832496.0,29348627.0,30034989.0,30547580.0
3,190,Philippines,PHL,"Population, total",SP.POP.TOTL,28486871.0,29342411.0,30185979.0,31043711.0,31916622.0,32805538.0,33704749.0,34616857.0,35544973.0,36477170.0,37435586.0,38421746.0,39412479.0,40406234.0,41388324.0,42394433.0,43474370.0,44646518.0,45890739.0,47154232.0,48419546.0,49679330.0,50938522.0,52219685.0,53514959.0,54812660.0,56109838.0,57415175.0,58755923.0,60127343.0,61558898.0,63039751.0,64543525.0,66083321.0,67650283.0,69250468.0,70944969.0,72718837.0,74491918.0,76249064.0,77958223.0,79626086.0,81285572.0,82942837.0,84607501.0,86261250.0,87901835.0,89561377.0,91252326.0,92946951.0,94636700.0,96337913.0,98032317.0,99700107.0,101325201.0,103031365.0,104875266.0,106738501.0,108568836.0,110380804.0,112190977.0,113880328.0,115559009.0

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 68 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           4 non-null      int64
 1   Country Name    4 non-null      object
 2   Country Code    4 non-null      object
 3   Indicator Name  4 non-null      object
 4   Indicator Code  4 non-null      object
 5   1960.0          4 non-null      float64
 6   1961.0          4 non-null      float64
 7   1962.0          4 non-null      float64
 8   1963.0          4 non-null      float64
 9   1964.0          4 non-null      float64
 10  1965.0          4 non-null      float64
 11  1966.0          4 non-null      float64
 12  1967.0          4 non-null      float64
 13  1968.0          4 non-null      float64
 14  1969.0          4 non-null      float64
 15  1970.0          4 non-null      float64
 16  1971.0          4 non-null      float64
 17  1972.0          4 non-null      float64
 18  1973.0          4 non-null      float64
 19  1974.0          4 non-null      float64
 20  1975.0          4 non-null      float64
 21  1976.0          4 non-null      float64
 22  1977.0          4 non-null      float64
 23  1978.0          4 non-null      float64
 24  1979.0          4 non-null      float64
 25  1980.0          4 non-null      float64
 26  1981.0          4 non-null      float64
 27  1982.0          4 non-null      float64
 28  1983.0          4 non-null      float64
 29  1984.0          4 non-null      float64
 30  1985.0          4 non-null      float64
 31  1986.0          4 non-null      float64
 32  1987.0          4 non-null      float64
 33  1988.0          4 non-null      float64
 34  1989.0          4 non-null      float64
 35  1990.0          4 non-null      float64
 36  1991.0          4 non-null      float64
 37  1992.0          4 non-null      float64
 38  1993.0          4 non-null      float64
 39  1994.0          4 non-null      float64
 40  1995.0          4 non-null      float64
 41  1996.0          4 non-null      float64
 42  1997.0          4 non-null      float64
 43  1998.0          4 non-null      float64
 44  1999.0          4 non-null      float64
 45  2000.0          4 non-null      float64
 46  2001.0          4 non-null      float64
 47  2002.0          4 non-null      float64
 48  2003.0          4 non-null      float64
 49  2004.0          4 non-null      float64
 50  2005.0          4 non-null      float64
 51  2006.0          4 non-null      float64
 52  2007.0          4 non-null      float64
 53  2008.0          4 non-null      float64
 54  2009.0          4 non-null      float64
 55  2010.0          4 non-null      float64
 56  2011.0          4 non-null      float64
 57  2012.0          4 non-null      float64
 58  2013.0          4 non-null      float64
 59  2014.0          4 non-null      float64
 60  2015.0          4 non-null      float64
 61  2016.0          4 non-null      float64
 62  2017.0          4 non-null      float64
 63  2018.0          4 non-null      float64
 64  2019.0          4 non-null      float64
 65  2020.0          4 non-null      float64
 66  2021.0          4 non-null      float64
 67  2022.0          4 non-null      float64
dtypes: float64(63), int64(1), object(4)
memory usage: 2.2+ KB

In [19]:
df.isna().sum()

2
index             0
Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
                 ..
2018.0            0
2019.0            0
2020.0            0
2021.0            0
2022.0            0
Length: 68, dtype: int64

In [20]:
df.describe()

2,index,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
count,4.000000,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,...,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00,4.000000e+00
mean,117.750000,2.533282e+07,2.574764e+07,2.618717e+07,2.660661e+07,2.702161e+07,2.744363e+07,2.786861e+07,2.826876e+07,2.868402e+07,...,5.358452e+07,5.421632e+07,5.489348e+07,5.563474e+07,5.639375e+07,5.712563e+07,5.784746e+07,5.856903e+07,5.915742e+07,5.976423e+07
std,83.091817,1.999373e+07,2.011950e+07,2.025516e+07,2.038429e+07,2.049199e+07,2.060071e+07,2.068125e+07,2.079348e+07,2.088214e+07,...,3.583297e+07,3.645952e+07,3.711218e+07,3.779000e+07,3.844928e+07,3.910151e+07,3.974561e+07,4.035227e+07,4.092607e+07,4.147312e+07
min,16.000000,1.016794e+07,1.036514e+07,1.057072e+07,1.078272e+07,1.100282e+07,1.123295e+07,1.147020e+07,1.171558e+07,1.197041e+07,...,2.312813e+07,2.347569e+07,2.381600e+07,2.419091e+07,2.459420e+07,2.496664e+07,2.534022e+07,2.565529e+07,2.568808e+07,2.597894e+07
25%,67.000000,1.024934e+07,1.045354e+07,1.069918e+07,1.090818e+07,1.112595e+07,1.134924e+07,1.160580e+07,1.177814e+07,1.199935e+07,...,2.631820e+07,2.646550e+07,2.666174e+07,2.694362e+07,2.728612e+07,2.762169e+07,2.795943e+07,2.842529e+07,2.894826e+07,2.940542e+07
50%,132.500000,1.938167e+07,1.991271e+07,2.046399e+07,2.099686e+07,2.154181e+07,2.209677e+07,2.267787e+07,2.320793e+07,2.377699e+07,...,4.575491e+07,4.603220e+07,4.636327e+07,4.673639e+07,4.712114e+07,4.748353e+07,4.783441e+07,4.821493e+07,4.853064e+07,4.875950e+07
75%,183.250000,3.446515e+07,3.520681e+07,3.595198e+07,3.669528e+07,3.743747e+07,3.819117e+07,3.894069e+07,3.969854e+07,4.046165e+07,...,7.302123e+07,7.378302e+07,7.459501e+07,7.542751e+07,7.622877e+07,7.698747e+07,7.772245e+07,7.835867e+07,7.873981e+07,7.911831e+07
max,190.000000,5.240000e+07,5.280000e+07,5.325000e+07,5.365000e+07,5.400000e+07,5.434805e+07,5.464850e+07,5.494360e+07,5.521170e+07,...,9.970011e+07,1.013252e+08,1.030314e+08,1.048753e+08,1.067385e+08,1.085688e+08,1.103808e+08,1.121910e+08,1.138803e+08,1.155590e+08